USE [akasprzak]
GO
/****** Object:  StoredProcedure [dbo].[Ten Most Expensive Products]    Script Date: 04.09.2016 21:09:58 ******/
DROP PROCEDURE [dbo].[Ten Most Expensive Products]
GO
/****** Object:  StoredProcedure [dbo].[SalesByCategory]    Script Date: 04.09.2016 21:09:58 ******/
DROP PROCEDURE [dbo].[SalesByCategory]
GO
/****** Object:  StoredProcedure [dbo].[Sales by Year]    Script Date: 04.09.2016 21:09:58 ******/
DROP PROCEDURE [dbo].[Sales by Year]
GO
/****** Object:  StoredProcedure [dbo].[Employee Sales by Country]    Script Date: 04.09.2016 21:09:58 ******/
DROP PROCEDURE [dbo].[Employee Sales by Country]
GO
/****** Object:  StoredProcedure [dbo].[CustOrdersOrders]    Script Date: 04.09.2016 21:09:58 ******/
DROP PROCEDURE [dbo].[CustOrdersOrders]
GO
/****** Object:  StoredProcedure [dbo].[CustOrdersDetail]    Script Date: 04.09.2016 21:09:58 ******/
DROP PROCEDURE [dbo].[CustOrdersDetail]
GO
/****** Object:  StoredProcedure [dbo].[CustOrderHist]    Script Date: 04.09.2016 21:09:58 ******/
DROP PROCEDURE [dbo].[CustOrderHist]
GO
ALTER TABLE [dbo].[Territories] DROP CONSTRAINT [FK_Territories_Region]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Suppliers]
GO
ALTER TABLE [dbo].[Products] DROP CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Shippers]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Employees]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Order Details] DROP CONSTRAINT [FK_Order_Details_Products]
GO
ALTER TABLE [dbo].[Order Details] DROP CONSTRAINT [FK_Order_Details_Orders]
GO
ALTER TABLE [dbo].[EmployeeTerritories] DROP CONSTRAINT [FK_EmployeeTerritories_Territories]
GO
ALTER TABLE [dbo].[EmployeeTerritories] DROP CONSTRAINT [FK_EmployeeTerritories_Employees]
GO
ALTER TABLE [dbo].[Employees] DROP CONSTRAINT [FK_Employees_Employees]
GO
ALTER TABLE [dbo].[CustomerCustomerDemo] DROP CONSTRAINT [FK_CustomerCustomerDemo_Customers]
GO
ALTER TABLE [dbo].[CustomerCustomerDemo] DROP CONSTRAINT [FK_CustomerCustomerDemo]
GO
/****** Object:  View [dbo].[Quarterly Orders]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Quarterly Orders]
GO
/****** Object:  View [dbo].[Products by Category]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Products by Category]
GO
/****** Object:  View [dbo].[Products Above Average Price]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Products Above Average Price]
GO
/****** Object:  View [dbo].[Orders Qry]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Orders Qry]
GO
/****** Object:  View [dbo].[Invoices]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Invoices]
GO
/****** Object:  View [dbo].[Customer and Suppliers by City]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Customer and Suppliers by City]
GO
/****** Object:  View [dbo].[Current Product List]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Current Product List]
GO
/****** Object:  View [dbo].[Alphabetical list of products]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Alphabetical list of products]
GO
/****** Object:  View [dbo].[Category Sales for 1997]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Category Sales for 1997]
GO
/****** Object:  View [dbo].[Product Sales for 1997]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Product Sales for 1997]
GO
/****** Object:  View [dbo].[Summary of Sales by Year]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Summary of Sales by Year]
GO
/****** Object:  View [dbo].[Summary of Sales by Quarter]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Summary of Sales by Quarter]
GO
/****** Object:  View [dbo].[Sales by Category]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Sales by Category]
GO
/****** Object:  View [dbo].[Order Details Extended]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Order Details Extended]
GO
/****** Object:  View [dbo].[Sales Totals by Amount]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Sales Totals by Amount]
GO
/****** Object:  View [dbo].[Order Subtotals]    Script Date: 04.09.2016 21:09:58 ******/
DROP VIEW [dbo].[Order Subtotals]
GO
/****** Object:  Table [dbo].[Territories]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Territories]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Suppliers]
GO
/****** Object:  Table [dbo].[Shippers]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Shippers]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Region]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[Order Details]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Order Details]
GO
/****** Object:  Table [dbo].[EmployeeTerritories]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[EmployeeTerritories]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Employees]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Customers]
GO
/****** Object:  Table [dbo].[CustomerDemographics]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[CustomerDemographics]
GO
/****** Object:  Table [dbo].[CustomerCustomerDemo]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[CustomerCustomerDemo]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04.09.2016 21:09:58 ******/
DROP TABLE [dbo].[Categories]
GO
USE [master]
GO
/****** Object:  Database [NORTHWIND_to_drop]    Script Date: 04.09.2016 21:09:58 ******/
/*DROP DATABASE [NORTHWIND_to_drop]
GO*/
